{% extends "base-receptionist.html" %}
{% load static %}
{% load custom_filters %}

{% block "head" %}
    <link rel="stylesheet" href="{% static "css/dashboard/index-view.css" %}">
    <link rel="stylesheet" href="{% static "css/dashboard/end-modal.css" %}">
{% endblock "head" %}

{% block "title" %}Início{% endblock "title" %}

{% block "content" %}
{% if messages %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            {% for message in messages %}
                coloredToast('{{ message.tags }}', '{{ message }}');
            {% endfor %}
        });
        function coloredToast(color, message) {
            const toast = window.Swal.mixin({
                toast: true,
                position: 'top',
                showConfirmButton: false,
                timer: 3000,
                showCloseButton: true,
                customClass: {
                    popup: `color-${color}`
                },
                target: document.getElementById(color + '-toast')
            });
            toast.fire({
                title: message,
            });
        }
    </script>

    <div id="error-toast" class="color-error"></div>
    <div id="success-toast" class="color-success"></div>
    <div id="info-toast" class="color-info"></div>
    <div id="warning-toast" class="color-warning"></div>
{% endif %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        fetch('/check-queue-state/')
            .then(response => response.json())
            .then(data => {
                if (data.is_started == true && data.last_treated_appointment) {
                    document.getElementById('normalContent').classList.add('hidden');
                    document.getElementById('diaDeConsultaContent').classList.remove('hidden');
                    startHighlightFromAppointment(data.last_treated_appointment.id);
                } else {
                    document.getElementById('normalContent').classList.remove('hidden');
                    document.getElementById('diaDeConsultaContent').classList.add('hidden');
                }
            })
            .catch(error => {
                console.error('Erro ao obter o estado da fila:', error);
            });
        });
</script>

<div class="animate__animated p-6" :class="[$store.app.animation]">
    <div class="pt-5">
        <div class="mb-5 flex items-center justify-end">
            <span id="historyTrigger" class="text-primary mr-3 btn-history-consult-day" onclick="openHistoryModal()" style="cursor: pointer; display: flex; align-items: center;">
                <svg width="1rem" height="1rem" viewBox="0 0 668 668" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-3">
                    <path d="M50.6667 250.667H617.333V600.667C617.333 605.087 615.577 609.326 612.452 612.452C609.326 615.577 605.087 617.333 600.667 617.333H67.3333C62.913 617.333 58.6738 615.577 55.5482 612.452C52.4226 609.326 50.6667 605.087 50.6667 600.667V250.667Z" fill="#4D69EF" stroke="#4D69EF" stroke-width="33.3333"/>
                    <path d="M34 234V600.667C34 609.507 37.5119 617.986 43.7631 624.237C50.0143 630.488 58.4928 634 67.3333 634H600.667C609.507 634 617.986 630.488 624.237 624.237C630.488 617.986 634 609.507 634 600.667V234M34 234H634M34 234V100.667C34 91.8261 37.5119 83.3477 43.7631 77.0964C50.0143 70.8452 58.4928 67.3333 67.3333 67.3333H600.667C609.507 67.3333 617.986 70.8452 624.237 77.0964C630.488 83.3477 634 91.8261 634 100.667V234M467.333 34V134M200.667 34V134" stroke="#4D69EF" stroke-width="66.6667" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M234 434L300.667 500.666L434 367.333" stroke="white" stroke-width="66.6667" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                Ver histórico
            </span>
        </div>
        <!-- start main content section -->
        <div class="flex flex-col gap-2.5 w-full xl:flex-row ">

            <div class="panel panel-main-content mt-6 xl:mt-0 flex-1">
                <div class="mb-5">
                    <div id="headerSection">
                        <div id="normalContent">
                            <!-- Conteúdo normal inicial dentro de headerSection -->
                            <div class="mb-4 flex flex-col items-center justify-center sm:flex-row sm:justify-between">
                                <div class="mb-4 sm:mb-0">
                                    <div class="mt-2 flex flex-wrap items-center justify-center sm:justify-start">
                                        <div>
                                            <h5 class="font-bold dark:text-white-light">
                                                Próxima data de consulta: <span class="text-info">{{ next_consult_date.show }}</span>
                                            </h5>
                                            <p onclick="openNextConsultDateEditModal()" class="btn-new-consult-date">Alterar</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex justify-center">
                                    <div class="flex justify-center">                                      
                                        {% if today_date == next_consult_date.date and appointments|length > 0%}
                                        
                                        <button type="button" class="btn btn-success rounded btn-green" onclick="startConsultationDay()">
                                            <svg width="1rem" height="1rem" viewBox="-0.5 0 7 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <g id="Dribbble-Light-Preview" transform="translate(-347.000000, -3766.000000)" fill="#fff">
                                                        <g id="icons" transform="translate(56.000000, 160.000000)">
                                                            <path d="M296.494737,3608.57322 L292.500752,3606.14219 C291.83208,3605.73542 291,3606.25002 291,3607.06891 L291,3611.93095 C291,3612.7509 291.83208,3613.26444 292.500752,3612.85767 L296.494737,3610.42771 C297.168421,3610.01774 297.168421,3608.98319 296.494737,3608.57322" id="play-[#1003]"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                            <span class="ml-2">Iniciar atendimento</span>
                                        </button>
                                    {% endif %}
                                    
                                    </div>
                                    <button type="button" class="ml-2 btn btn-appointment" onclick="editEvent()">
                                        <svg width="1rem" height="1rem" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                                            <g id="Icon-Set-Filled" sketch:type="MSLayerGroup" transform="translate(-362.000000, -1037.000000)" fill="#fff">
                                                <path d="M390,1049 L382,1049 L382,1041 C382,1038.79 380.209,1037 378,1037 C375.791,1037 374,1038.79 374,1041 L374,1049 L366,1049 C363.791,1049 362,1050.79 362,1053 C362,1055.21 363.791,1057 366,1057 L374,1057 L374,1065 C374,1067.21 375.791,1069 378,1069 C380.209,1069 382,1067.21 382,1065 L382,1057 L390,1057 C392.209,1057 394,1055.21 394,1053 C394,1050.79 392.209,1049 390,1049" id="plus" sketch:type="MSShapeGroup"> </path>
                                            </g>
                                        </svg>
                                        <span class="ml-2">Agendar</span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="fixed inset-0 z-[999] hidden overflow-y-auto bg-[black]/60" id="editNextConsultDateModal">
                            <div class="flex min-h-screen items-center justify-center px-4">
                                <div class="panel my-8 w-[90%] max-w-lg overflow-hidden rounded-lg border-0 p-0 md:w-full">
                                    <h3 class="bg-[#fbfbfb] py-3 text-lg font-medium ltr:pl-5 ltr:pr-[50px] rtl:pr-5 rtl:pl-[50px] dark:bg-[#121c2c]">Editar Próxima Consulta</h3>
                                    <div class="p-5">
                                        <form id="editNextConsultDateForm" method="post" action="{% url "save_next_consult_date" %}">
                                            {% csrf_token %}
                                            <div class="mb-5">
                                                <label for="nextConsultDate">Nova Data:</label>
                                                <input name="nextConsultDate" id="nextConsultDate" type="date" class="form-input" placeholder="" required>
                                                <div class="mt-2 text-danger" id="nextConsultDateErr"></div>
                                            </div>
                                            
                                            <div class="mt-8 flex items-center justify-end">
                                                <button type="button" class="btn btn-outline-danger" onclick="closeNextConsultDateModal()">
                                                    Cancelar
                                                </button>
                                                <button type="button" id="submitEditNextConsultDateForm" class="btn btn-primary ltr:ml-4 rtl:mr-4">Salvar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="fixed inset-0 z-[999] hidden overflow-y-auto bg-[black]/60" id="addEventModal">
                            <div class="flex min-h-screen items-center justify-center px-4">
                                <div class="panel my-8 w-[90%] max-w-lg overflow-hidden rounded-lg border-0 p-0 md:w-full">
                                    <h3 class="bg-[#fbfbfb] py-3 text-lg font-medium ltr:pl-5 ltr:pr-[50px] rtl:pr-5 rtl:pl-[50px] dark:bg-[#121c2c]">Agendar Consulta</h3>
                                    <div class="p-5">
                                        <form id="appointmentForm" method="post" action="{% url "add_appointment" %}">
                                            {% csrf_token %}
                                            <div class="mb-5">
                                                <label for="patient">Paciente:</label>
                                                <select name="patient" id="patient" name="patient" class="form-select" required>
                                                    <div class="select-content">
                                                        <option value="" selected disabled>Selecione um paciente</option>
                                                        {% for patient in patients %}
                                                            <option value="{{ patient.id }}" {% if patient.id == event.patient_id %}selected{% endif %}>{{ patient.name }}</option>
                                                        {% endfor %}
                                                    </div>
                                                </select>
                                                <div class="mt-2 text-danger" id="patientErr"></div>
                                            </div>
                                            <div class="mb-5">
                                                <label for="appointment_type">Tipo de Consulta:</label>
                                                <div class="flex items-center space-x-4">
                                                    <div class="flex items-center cursor-pointer">
                                                        <input type="radio" id="consulta" name="appointment_type" value="Consulta" required class="cursor-pointer" checked>
                                                        <label for="consulta" class="ml-2 mt-2 cursor-pointer">Consulta</label>
                                                    </div>
                                                    <div class="flex items-center cursor-pointer">
                                                        <input type="radio" id="retorno" name="appointment_type" value="Retorno" required class="cursor-pointer">
                                                        <label for="retorno" class="ml-2  mt-2 ursor-pointer">Retorno</label>
                                                    </div>
                                                </div>
                                                <div class="mt-2 text-danger" id="consultationTypeErr"></div>
                                            </div>
                        
                                            <div class="mb-5">
                                                <label for="dateStart">Data: </label>
                                                <input name="date" id="dateStart" type="date" class="form-input cursor-pointer" placeholder="" value="{{ next_consult_date}}" required>
                                                <div class="mt-2 text-danger" id="startDateErr"></div>
                                            </div>
                                            <div class="mb-5 flex items-center">
                                                <label class="w-20" for="hour">Horário: </label>
                                                <div class="flex items-center">
                                                    <select name="hour" id="hour" class="form-select cursor-pointer w-20" required>
                                                        {% for hour in 8|num_range:21 %}
                                                            <option value="{{ hour }}">{{ hour }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <span>:</span>
                                                    <select name="minute" id="minute" class="form-select cursor-pointer w-32" required>
                                                        <option value="00">00</option>
                                                        <option value="15">15</option>
                                                        <option value="30">30</option>
                                                        <option value="45">45</option>
                                                    </select>
                                                </div>
                                                <div class="mt-2 text-danger" id="timeErr"></div>
                                            </div>                                            <div class="mt-8 flex items-center justify-end">
                                                <button type="button" class="btn btn-outline-danger" onclick="closeModal()">
                                                    Cancelar
                                                </button>
                                                <button type="button" id="submitAppointmentForm" class="btn btn-appointment ltr:ml-4 rtl:mr-4">Agendar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div id="diaDeConsultaContent" class="hidden">
                            <div class="consult-day-header">
                                <div class="flex justify-between items-center mt-4 mb-5">
                                    <div class="text-center mb-2 flex items-center"> 
                                        <h1 class="font-bold mr-2">Atendimento iniciado</h1>
                                        <svg width="6" height="6" viewBox="0 0 2000 2000" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="1000" cy="1000" r="1000" fill="#4361EE"/>
                                        </svg>
                                        <span id="next-consult-date"class="ml-2">{{ next_consult_date.date|date:"d/m/Y" }}</span>
                                    </div>
                                    <div class="flex">
                                        <button type="button" class="btn btn-success rounded btn-green btn-next" onclick="goToNextAppointment()" style="display: flex; align-items: center;">
                                            <svg width="1rem" height="1rem" viewBox="0 -2 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <g id="Dribbble-Light-Preview" transform="translate(-144.000000, -3805.000000)" fill="#fff">
                                                        <g id="icons" transform="translate(56.000000, 160.000000)">
                                                            <path d="M99.684,3649.69353 L95.207,3652.82453 C94.571,3653.25353 94,3652.84553 94,3652.13153 L94,3650.14053 L89.78,3652.82453 C89.145,3653.25353 88,3652.84553 88,3652.13153 L88,3645.86853 C88,3645.15453 89.145,3644.74653 89.78,3645.17453 L94,3647.85953 L94,3645.86853 C94,3645.15453 94.571,3644.74653 95.207,3645.17453 L99.516,3648.30653 C100.03,3648.65353 100.198,3649.34653 99.684,3649.69353" id="next-[#998]"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            <span class="ml-2">Próximo</span>
                                        </button>

                                        <button type="button" class="btn btn-success rounded btn-green btn-end-queue" onclick="finalizeQueue()" style="display: none; display: flex; align-items: center;">
                                            <svg width="1rem" height="1rem" viewBox="0 0 800 668" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right: 0.5rem;">
                                                <path d="M669.491 0L261.865 407.627L129.661 275.424L0 405.085L132.203 537.289L262.711 667.797L392.373 538.135L800 130.509L669.491 0Z" fill="white"/>
                                            </svg>
                                            <span class="ml-2">Finalizar</span>
                                        </button>
                                        
                                        <button type="button" class="ml-2 btn btn-appointment" onclick="editEvent()">
                                            <svg width="1rem" height="1rem" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                                                <g id="Icon-Set-Filled" sketch:type="MSLayerGroup" transform="translate(-362.000000, -1037.000000)" fill="#fff">
                                                    <path d="M390,1049 L382,1049 L382,1041 C382,1038.79 380.209,1037 378,1037 C375.791,1037 374,1038.79 374,1041 L374,1049 L366,1049 C363.791,1049 362,1050.79 362,1053 C362,1055.21 363.791,1057 366,1057 L374,1057 L374,1065 C374,1067.21 375.791,1069 378,1069 C380.209,1069 382,1067.21 382,1065 L382,1057 L390,1057 C392.209,1057 394,1055.21 394,1053 C394,1050.79 392.209,1049 390,1049" id="plus" sketch:type="MSShapeGroup"> </path>
                                                </g>
                                            </svg>
                                            <span class="ml-2">Agendar</span>
                                        </button>
                                    </div>
                                </div>
                                <hr class="border-gray-300 shadow-sm"> 
                            </div>
                            
                           
                            <div class="mt-4 mb-7 ">
                                <div class="flex justify-center mb-5 consult-day-header-statistics">
                                    <button type="button" class="statistics-item total">Agendados<span id="total-appointments">{{ appointments|length }}</span></button>
                                    <button type="button" class="statistics-item ">Consultas<span >{{ appointments_type_c }}</span></button>
                                    <button type="button" class="statistics-item ">Retornos<span >{{ appointments_type_r }}</span></button>
                                    <button type="button" class="statistics-item treated">Atendidos<span id="treated-count">0</span></button>
                                    <button type="button" class="statistics-item waiting">Aguardando<span id="waiting-count">{{ appointments|length }}</span></button>
                                    <button type="button" class="statistics-item misseds">Faltaram<span id="missed-count">{{ queue_state_stats.misseds }}</span></button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    
                    <div id="tableContainer" class="table-responsive table-container">
                        <table class="table-hover table-bordered table-striped">
                            <thead>
                                <tr class="!bg-transparent dark:!bg-transparent">
                                    <th></th>
                                    <th></th> 
                                </tr>
                            </thead>
                            <tbody>
                                {% for time in 8|times:15 %}
                                    <tr class="{% cycle 'even-row' 'odd-row' %}" id="appointment-{{ forloop.counter }}" 
                                        {% for appointment in appointments %}
                                            {% if appointment.date == next_consult_date.date and appointment.time|format_time == time %}
                                                data-appointment-id="{{ appointment.id }}"
                                                onclick="showPatientData('{{ appointment.id }}')"
                                            {% endif %}
                                        {% endfor %}>
                                        <th class="appointment-time">{{ time }}</th>
                                        <td>
                                            <button class="text-blue-500 flex items-center justify-center w-full h-full">
                                                {% for appointment in appointments %}
                                                    {% if appointment.date == next_consult_date.date and appointment.time|format_time == time %}
                                                        <div class="filled-cell">
                                                            <div class="current-patient-info">
                                                                <span class="current-patient-name">{{ appointment.patient.name }}</span>
                                                                <div class="current-patient-info-stats">
                                                                    <span class="current-payment-method">
                                                                        {% if  appointment.payment_method is not None %}
                                                                        {{ appointment.payment_method }}
                                                                        {% endif %}
                                                                    </span>
                                                                    <div class="appointment-type">
                                                                        {{ appointment.type }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% else %}
                                                    {% endif %}
                                                {% endfor %}
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <th>20:00</th>
                                    <td colspan="8"></td>
                                </tr>
                            </tbody>
                            
                        </table>
                    </div>
                    
                </div>
            </div>
            <div class="mt-6 xl:mt-0 ">
                <div class="col-md-12">
                    <div class="panel mb-9 xl:w-full">
                        <h3 class="mb-5 font-bold text-lg text-center">Dados do Agendamento</h3>
                        <form id="appointment-form" method="POST" action="{% url 'save_appointment_payment_method' %}">
                            {% csrf_token %}
                            <input type="hidden" id="appointment-id" name="appointment_id" value="">
                            <div>
                                <div class="flex justify-between items-center">
                                    <label for="name" class="flex-1">Paciente</label>
                                    <a href="#" id="mark-missed" class="text-500 hover:underline" onclick="markAsMissed(document.getElementById('appointment-id').value)">Não compareceu</a>
                                </div>
                                <input id="name" type="text" name="name" class="form-input" placeholder="Nenhum paciente selecionado" disabled>
                            </div>
                            <div class="mt-4">
                                <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                                    <div>
                                        <label for="birth-date">Data de nascimento</label>
                                        <input id="birth-date" type="date" name="birth-date" class="form-input" disabled>
                                    </div>
                                    <div>
                                        <label for="phone">Telefone</label>
                                        <input id="phone" type="text" name="phone" class="form-input" placeholder="(xx) xxxxx-xxxx" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-4">
                                <label for="payment-method">Forma de pagamento</label>
                                <select id="payment-method" name="payment-method" class="form-select" disabled>
                                    <option value="">Selecionar</option>
                                    {% for payment in payment_methods %}
                                        <option value="{{ payment.id }}">{{ payment.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mt-4 flex justify-end">
                                <button type="submit" id="btn-save" class="btn btn-success w-full gap-2 btn-green" disabled onclick="savePatientData()">
                                    <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 shrink-0 ltr:mr-2 rtl:ml-2">
                                        <path d="M3.46447 20.5355C4.92893 22 7.28595 22 12 22C16.714 22 19.0711 22 20.5355 20.5355C22 19.0711 22 16.714 22 12C22 11.6585 22 11.4878 21.9848 11.3142C21.9142 10.5049 21.586 9.71257 21.0637 9.09034C20.9516 8.95687 20.828 8.83317 20.5806 8.58578L15.4142 3.41944C15.1668 3.17206 15.0431 3.04835 14.9097 2.93631C14.2874 2.414 13.4951 2.08581 12.6858 2.01515C12.5122 2 12.3415 2 12 2C7.28595 2 4.92893 2 3.46447 3.46447C2 4.92893 2 7.28595 2 12C2 16.714 2 19.0711 3.46447 20.5355Z" stroke="currentColor" stroke-width="1.5"></path>
                                        <path d="M17 22V21C17 19.1144 17 18.1716 16.4142 17.5858C15.8284 17 14.8856 17 13 17H11C9.11438 17 8.17157 17 7.58579 17.5858C7 18.1716 7 19.1144 7 21V22" stroke="currentColor" stroke-width="1.5"></path>
                                        <path opacity="0.5" d="M7 8H13" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                                    </svg>
                                    Salvar
                                </button>
                                <button type="button" id="btn-delete-appointment" class="btn w-full gap-2 btn-delete-appointment" title="Desmarcar atendimento" onclick="showCancelAlert(document.getElementById('appointment-id').value)" disabled >
                                    <svg width="1rem" height="1rem" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"><path fill="#000000" d="M352 192V95.936a32 32 0 0 1 32-32h256a32 32 0 0 1 32 32V192h256a32 32 0 1 1 0 64H96a32 32 0 0 1 0-64h256zm64 0h192v-64H416v64zM192 960a32 32 0 0 1-32-32V256h704v672a32 32 0 0 1-32 32H192zm224-192a32 32 0 0 0 32-32V416a32 32 0 0 0-64 0v320a32 32 0 0 0 32 32zm192 0a32 32 0 0 0 32-32V416a32 32 0 0 0-64 0v320a32 32 0 0 0 32 32z"/></svg>
                                </button>
                            </div>
                        </form>
                    </div>
                    
                    </div>
                    <div class="panel mb-5 xl:w-full" id="searchPanel">
                        <form id="searchForm" action="{% url "search_appointments" %}" method="GET">
                            <div class="r">
                                <h3 class="mb-5 font-bold text-lg text-center">Procurar agendamento</h3>
                                <label for="search-date">Por data</label>
                                <input id="search-date" type="date" name="search-date" class="form-input mb-2" placeholder="Selecionar data">
                                <label for="search-name">Por nome</label>
                                <input id="search-name" type="text" name="search-name" class="form-input mb-2" placeholder="Nome do Paciente">
                            </div>
                            <div class="mt-4 flex justify-end">
                                <button type="submit" class="btn btn-primary w-full gap-2 btn-blue">
                                    Pesquisar
                                </button>
                            </div>
                        </form>
                        <div class="mt-4 search-table"  style="height: 7rem; overflow-y: auto;">
                            <h4>Agendamentos</h4>
                            <table class="table-hover table-bordered w-full " id="appointmentsTable">
                                <thead>
                                    <tr class="!bg-transparent dark:!bg-transparent">
                                        <th>Data</th>
                                        <th>Horário</th>
                                        <th>Paciente</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if not se_appointments %}
                                        <tr>
                                            <td colspan="4" class="text-center">Nenhum agendamento encontrado</td>
                                        </tr>
                                    {% else %}
                                        {% for se_appointment in se_appointments %}
                                        <tr>
                                            <td class="text-center appointment-date">{{ se_appointment.date }}</td>
                                            <td class="text-center appointment-time">{{ se_appointment.time }}</td>
                                            <td class="patient-name">{{ se_appointment.patient }}</td>
                                            <td class="text-center">
                                                <button onclick="showCancelAlert({{ se_appointment.id }})" class="cancel-appointment">
                                                    <!-- Ícone de exclusão -->
                                                    <svg class="btn-svg" fill="#000000" width="800px" height="800px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M5.755,20.283,4,8H20L18.245,20.283A2,2,0,0,1,16.265,22H7.735A2,2,0,0,1,5.755,20.283ZM21,4H16V3a1,1,0,0,0-1-1H9A1,1,0,0,0,8,3V4H3A1,1,0,0,0,3,6H21a1,1,0,0,0,0-2Z"/>
                                                    </svg>
                                                </button>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
        <!-- end main content section -->
</div>

<!-- Modal End Queue-->
<div class="modal hidden" id="endQueueModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <svg width="2rem" height="2rem" viewBox="0 0 668 668" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-3">
                    <path d="M50.6667 250.667H617.333V600.667C617.333 605.087 615.577 609.326 612.452 612.452C609.326 615.577 605.087 617.333 600.667 617.333H67.3333C62.913 617.333 58.6738 615.577 55.5482 612.452C52.4226 609.326 50.6667 605.087 50.6667 600.667V250.667Z" fill="#4D69EF" stroke="#4D69EF" stroke-width="33.3333"/>
                    <path d="M34 234V600.667C34 609.507 37.5119 617.986 43.7631 624.237C50.0143 630.488 58.4928 634 67.3333 634H600.667C609.507 634 617.986 630.488 624.237 624.237C630.488 617.986 634 609.507 634 600.667V234M34 234H634M34 234V100.667C34 91.8261 37.5119 83.3477 43.7631 77.0964C50.0143 70.8452 58.4928 67.3333 67.3333 67.3333H600.667C609.507 67.3333 617.986 70.8452 624.237 77.0964C630.488 83.3477 634 91.8261 634 100.667V234M467.333 34V134M200.667 34V134" stroke="#4D69EF" stroke-width="66.6667" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M234 434L300.667 500.666L434 367.333" stroke="white" stroke-width="66.6667" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <h5 class="modal-title">Finalizar Atendimento</h5>
                <button type="button" class="close-end-queue-modal" onclick="closeEndQueueModal()">&times;</button>
            </div>
            <div class="modal-body">
                <p class="font-weight-bold text-center end-queue-modal-stats">
                    <span>Total de Pacientes:</span>
                    <span id="totalPatients"></span>
                </p>
                
                <p class="font-weight-bold text-center payment-stats-header">Formas de pagamento</p>
                <ul id="paymentMethodCounts" class="list-unstyled d-flex flex-wrap justify-content-center">
                </ul>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-success rounded btn-green btn-end-queue" onclick="window.location.href='{% url 'finalize_queue_confirm' %}'" style="display: none; display: flex; align-items: center;">
                    <svg width="1rem" height="1rem" viewBox="0 0 800 668" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right: 0.5rem;">
                        <path d="M669.491 0L261.865 407.627L129.661 275.424L0 405.085L132.203 537.289L262.711 667.797L392.373 538.135L800 130.509L669.491 0Z" fill="white"/>
                    </svg>
                    <span class="ml-2">Finalizar</span>
                </button>
                
            </div>
        </div>
    </div>
</div>

<div class="modal fade hidden" id="historyModal" tabindex="-1" aria-labelledby="historyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header title-history-modal">
                <h5 class="modal-title" id="historyModalLabel">Histórico de Atendimentos</h5>
                <button type="button" class="btn-close" onclick="closeHistoryModal()" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <div class="card-container">
                    <div class="row row-cols-1 row-cols-md-2 g-4">
                        {% for summary in consultation_day_summaries %}
                        <div class="panel col mb-6">
                            <div class="card">
                                <div class="card-custom-header">
                                    <svg width="1rem" height="1rem" viewBox="0 0 668 668" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-3">
                                        <path d="M50.6667 250.667H617.333V600.667C617.333 605.087 615.577 609.326 612.452 612.452C609.326 615.577 605.087 617.333 600.667 617.333H67.3333C62.913 617.333 58.6738 615.577 55.5482 612.452C52.4226 609.326 50.6667 605.087 50.6667 600.667V250.667Z" fill="#fff" stroke="#fff" stroke-width="33.3333"/>
                                        <path d="M34 234V600.667C34 609.507 37.5119 617.986 43.7631 624.237C50.0143 630.488 58.4928 634 67.3333 634H600.667C609.507 634 617.986 630.488 624.237 624.237C630.488 617.986 634 609.507 634 600.667V234M34 234H634M34 234V100.667C34 91.8261 37.5119 83.3477 43.7631 77.0964C50.0143 70.8452 58.4928 67.3333 67.3333 67.3333H600.667C609.507 67.3333 617.986 70.8452 624.237 77.0964C630.488 83.3477 634 91.8261 634 100.667V234M467.333 34V134M200.667 34V134" stroke="#fff" stroke-width="66.6667" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M234 434L300.667 500.666L434 367.333" stroke="white" stroke-width="66.6667" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <h5 class="card-title">{{ summary.consultation_date|date:"d/m/Y" }}</h5>
                                </div>
                                <div class="card-custom-body">
                                    <p class="card-text font-weight-bold  end-queue-modal-stats ">Total de Pacientes: <span>{{ summary.total_patients }}</span></p>
                                    <ul class="ist-unstyled d-flex flex-wrap justify-content-center">
                                        {% for method, count in summary.payment_method_counts.items %}
                                        <p class="font-weight-bold text-center end-queue-modal-stats">
                                            <span class="rounded-pill">{{ method }}</span>
                                            <span class="rounded-pill">{{ count }}</span>
                                        </p>
                                        {% endfor %}
                                    </ul>                                    
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static "js/dashboard/index.js" %}"></script>
<script src="{% static "js/dashboard/queueAppointments.js" %}"></script>
<script src="{% static "js/dashboard/patientPanel.js" %}"></script>
<script src="{% static "js/dashboard/setPaymentMehod.js" %}"></script>
<script src="{% static "js/dashboard/checkHomeState.js" %}"></script>
<script src="{% static "js/dashboard/endQueue.js" %}"></script>
<script src="{% static "js/dashboard/historyModal.js" %}"></script>


<script>
    function closeModal() {
        document.getElementById('addEventModal').classList.add('hidden');
    }
    function openModal() {
        document.getElementById('addEventModal').classList.remove('hidden');
    }
    function editEvent() {
        openModal();
    }

    function openNextConsultDateEditModal() {
        var modal = document.getElementById('editNextConsultDateModal');
        modal.classList.remove('hidden');
    }
    
    function closeNextConsultDateModal() {
        var modal = document.getElementById('editNextConsultDateModal');
        modal.classList.add('hidden');
    } 
</script>
   
{% endblock "content" %}