*{
    font-family: "Nunito Sans", sans-serif;
}

button span{
    font-weight: bold;
}


/* ============= Next Consult BTN ============== */
.btn-new-consult-date {
    color: inherit;
    cursor: pointer;
    position: relative;
    display: inline-block;
    transition: color 0.3s;
}

.btn-new-consult-date::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px; 
    background-image: linear-gradient(to right, #878787, #ffffff); 
    transition: background-color 0.3s, transform 0.3s ease-out;
    transform: scaleX(1); 
    transform-origin: bottom right;
}

.btn-new-consult-date:hover {
    font-weight: 700;
    color: #2196F3;
}

.btn-new-consult-date:hover::after {
    background-image: linear-gradient(to right, #2196F3, #ffffff); 
    background-color: transparent; 
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* ===================  BTN's ================== */

.btn-svg{
    width: 1rem;
    height: 1rem;
}

.btn-svg:hover{
    fill: red;
}

/* =================== TABLE ================== */
.table-container {
    max-height: 48em; 
    overflow-y: auto; 
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem; 
}

.table-hover tbody tr {
    transition: background-color 0.15s ease-in-out;
}

.table-hover tbody tr:hover td:not(:first-child) {
    background-color: #f5f5f5; 
}
.table-hover tbody tr th:first-child {
    background-color: #0B1A5Ee6;
    color: white;
    transition: none; 
}

.table-hover thead tr {
    visibility: collapse; 
}

.table-container::-webkit-scrollbar {
    width: 12px;
}

.table-container::-webkit-scrollbar-track {
    background: #a8a8a830; 
    border-radius: var(--table-border-radius);
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #A8A8A8; 
    border-radius: 6px;
    border: 3px solid #A8A8A8; 
}

.table-container {
    width: 100%;
}

.table-container th, .table-container td {
    height: 2.2rem; 
    padding: 0;
}

.table-container th:first-child, .table-container td:first-child {
    width: 7rem; 
}

.table-container .filled-cell {
    background-color: white;
    position: relative; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 0.35rem; 
    width: 99%;
    height: 80%;

    border-top: 1.5px solid rgba(11, 26, 94, 0.6);
    border-right: 1.5px solid rgba(11, 26, 94, 0.6);
    border-left: 2px solid rgba(11, 26, 94, 0.6);
    border-bottom: 2px solid rgba(11, 26, 94, 0.6);

    font-weight: bold;
    color: #5c5c5c;
}

.table-container .filled-cell > div {
    position:absolute;
    left: 0;
    padding-left: 1rem;
    top: 50%; /* Ajuste para centralizar verticalmente */
    transform: translateY(-50%);
    display: flex;
    align-items: center; 
}



.btn-appointment{
    background-color: #0b1a5e;
    border: 1px solid #0b1a5e;
    color: white
}

/* ==================== SearchPanel ===================  */
.appointment-date,
.appointment-time {
    font-size: 0.9rem; 
}

.patient-name {
    width: 60%;
}

.cancel-appointment {
    padding: 0; 
    margin: 0; 
}

/* ================ MESSAGES ==================== */
.messages-center {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    padding: 15px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.alert {
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.alert.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}