*{
    font-family: "Nunito Sans", sans-serif;
}

.table-container {
    max-height: 42rem;
    overflow-y: auto;  
}

.table-responsive {
    overflow-x: auto;  
}

.table {
    width: 100%;       
}

